 body {
     background-image: url(./brick.jpg);
 }

ul {
    padding-left: 49%;
   }

ol {
    padding-left: 10%;  
}

#tv {
    text-align: center;
}

#wine {
    padding-left: 30%;
}

.table {
    padding-left: 46%;
}
 
 .sections {
     text-align: center;
     padding-left: 10%;
     padding-right: 10%;
 }

  a:link {
    color: black;
  }

  a:visited {
    color: black;
  } 

  h2 {
      text-align: center;
  }
  