 body {
     background-image: url(./brick.jpg);
 }

 .heading_paragraph {
     width: 40%;
     color: blueviolet;
     border-style: solid;
 }

ul {
    padding-left: 49%;
   }

#tv {
    text-align: center;
}

.table {
    padding-left: 46%;
}
 
 .sections {
     text-align: center;
     padding-left: 10%;
     padding-right: 10%;
 }

  a:link {
    color: black;
  }

  a:visited {
    color: black;
  } 

  h2 {
      text-align: center;
  }
